npm install

# Navigation
npm install @react-navigation/native @react-navigation/stack @react-navigation/bottom-tabs
npx expo install react-native-screens react-native-safe-area-context

# UI Library (highly recommended for speed)
npm install react-native-paper

# QR Code Tools
npm install react-native-svg react-native-qrcode-svg
npx expo install expo-camera expo-barcode-scanner

# API Calls (for connecting to Hyperledger)
npm install axios

npx expo install @react-native-async-storage/async-storage
npx expo install react-native-svg@15.12.1
npm install react-native-web react-dom
